---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% for post in site.publications reversed %}
  <article class="publication-item" itemscope itemtype="http://schema.org/ScholarlyArticle">
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <p class="publication-item__authors" itemprop="author">{{ post.authors }}</p>
    <p class="publication-item__venue" itemprop="isPartOf"><i>{{ post.venue }}</i></p>
    <p class="publication-item__links">
      {% if post.paperurl %}
        <a class="btn" href="{{ post.paperurl }}" target="_blank" rel="noopener noreferrer">Article</a>
      {% endif %}
      {% if post.codeurl %}
        <a class="btn" href="{{ post.codeurl }}" target="_blank" rel="noopener noreferrer">Code</a>
      {% endif %}
    </p>
  </article>
{% endfor %}



